<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Gallery Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/home/css/base.css">
    <link rel="stylesheet" href="../../static/home/css/vendor.css">
    <link rel="stylesheet" href="../../static/home/css/main.css">
    <link rel="stylesheet" href="../../static/home/css/news.css">

    <!-- script
    ================================================== -->
    <script src="../../static/home/js/modernizr.js"></script>
    <script src="../../static/home/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/home/ut.png" type="image/png">
    <link rel="icon" href="../static/home/ut.png" type="image/png">

</head>

<body id="top">

     <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">
                        <img src="../static/home/images/modulelogo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!-- end header__social -->

{#				{% if title == 2 %}#}
{#                    <a href="../notification/request_page" class="header__search-trigger">#}
{#<!--                          <span class="badge">{{ notification_num }}</span>-->#}
{#                    </a>#}
{#               {% endif %}#}
                <a href="../notification/request_page" class="header__search-trigger">
<!--                          <span class="badge">{{ notification_num }}</span>-->
                </a>



                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li><a href="{{url_for('main.home')}}" title="">Home</a></li>
                        <li><a href="{{url_for('namelist.nameli')}}" title="">House</a></li>
                        <li><a href="../chat/chat_page">Chat</a></li>
                        <li><a href="{{url_for('auth.logout')}}" title="">Logout</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
	</section> <!-- end s-pageheader -->

	<section id="styles" class="s-content s-content--narrow s-content--no-padding-bottom">
		<div class="row half-bottom">
				
			
				{% if filter == '0' or filter is none %}
					  <div class="col-six tab-full"> <a class="btn btn--stroke full-width"   href="../notification/request_page?filter=1">accepted</a></div>
					  <div class="col-six tab-full"> <a class="btn btn--stroke full-width"   href="../notification/request_page?filter=-1">rejected</a></div>
				  {% elif filter == '-1' %}
					  <div class="col-six tab-full"><a class="btn btn--stroke full-width"   href="../notification/request_page?filter=1">accepted</a></div>
					  <div class="col-six tab-full"> <a class="btn btn--stroke full-width"   href="../notification/request_page?filter=0">pending</a></div>
				  {% elif filter == '1' %}
					 <div class="col-six tab-full"><a class="btn btn--stroke full-width"   href="../notification/request_page?filter=0">pending</a></div>
					  <div class="col-six tab-full"> <a class="btn btn--stroke full-width"   href="../notification/request_page?filter=-1">rejected</a></div>
				  {% endif %}
		</div>
		<div class="row add-bottom">
			<div class="col-twelve">
				<div class="table-responsive">
					<table>
						<thead>
							<tr>
							  <th>#</th>
							  <th>Name</th>
							  <th>From</th>
							  <th>To</th>
							  <th>Sent date</th>
							  <th>Confirmed date</th>
                            {% if filter == '0' or filter is none %}
							  <th colspan="2">Decision </th>
                            {% else %}
                              <th colspan="2">status </th>
                            {% endif %}

                          
							</tr>
						</thead>
						{% for request in request_owner_list %}
                            <tbody>
                                <tr>
                                    <td>{{ loop.index + pagination.skip }}</td>
                                    <td>{{ request.uname }}</td>
                                    <td><span style="color:{{request.house_from_name}};text-transform:capitalize;">{{ request.house_from_name }} House</span></td>
                                    <td><span id="targetHouse" style="color:{{request.house_to_name}};text-transform:capitalize;">{{request.house_to_name}} House</span></td>
                                    <td>{{ request.send_date }}</td>
                                    <td>
                                        {% if request.confirmed_date == None %}
                                            Pending
                                        {% else %}
                                            {{ request.confirmed_date }}
                                        {% endif %}
                                    </td>
<!--
                                    <td>
                                        {% if request.status == 0 %}
                                            <div>
                                            <a class="btn btn--primary full-width" href="accept_request?request_id={{ request.id }}">Accept</a>
                                            <a class="btn btn--stroke" href="reject_request?request_id={{ request.id }}">Reject</a>
                                            </div>
                                        {% elif request.status == 1 %}
                                            <a class="solved_button" href="#" onclick="return false;">ACCEPTED</a>
                                        {% elif request.status == -1 %}
                                            <a class="solved_button" href="#" onclick="return false;">REJECTED</a>
                                        {% endif %}
                                    </td>
-->
                                    {% if request.status == 0 %}
                                        <td>
                                        <a class="btn btn--stroke full-width" style="margin-bottom: 0rem" href="accept_request?request_id={{ request.id }}">ACCEPT</a>
                                        </td>
                                        <td>
                                        <a class="btn btn--primary full-width"  style="margin-bottom: 0rem" href="reject_request?request_id={{ request.id }}">Reject</a>
                                        </td>
                                    {% elif request.status == 1 %}
										<td colspan="2">
										<a class="btn full-width" style="pointer-events: none; margin-bottom: 0rem" href="#" onclick="return false;">ACCEPTED</a>
										</td>
									{% elif request.status == -1 %}
										<td colspan="2">
											<a class="btn full-width" style="pointer-events: none; margin-bottom: 0rem" href="#" onclick="return false;">REJECTED</a>
										</td>
									{% endif %}
                                </tr>
                                {% if request.reason is not none and (request.reason != '') %}
                                    <tr>
                                        <td></td>
                                        <td colspan="7">

                                                <span style="font-weight: bold">REASON: </span> {{ request.reason }}

                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        {% endfor %}

					</table>
				</div>
			</div>
		</div>
		<div class="row">
                <div class="col-full">
                    <nav class="pgn">
                            {{ pagination.links }}
                    </nav>
                </div>
            </div>
			
	</section>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/home/js/plugins.js"></script>
    <script src="../../static/home/js/main.js"></script>

</body>

</html>