<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Gallery Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/home/css/base.css">
    <link rel="stylesheet" href="../../static/home/css/vendor.css">
    <link rel="stylesheet" href="../../static/home/css/main.css">
    <link rel="stylesheet" href="../../static/home/css/news.css">

    <!-- script
    ================================================== -->
    <script src="../../static/home/js/modernizr.js"></script>
    <script src="../../static/home/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/home/ut.png" type="image/png">
    <link rel="icon" href="../static/home/ut.png" type="image/png">

</head>

<body id="top">

     <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">
                        <img src="../static/home/images/modulelogo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!-- end header__social -->

				{% if title == 2 %}
                    <a href="../notification/request_page" class="header__search-trigger">
<!--                          <span class="badge">{{ notification_num }}</span>-->
                    </a>
                {% endif %}



                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="{{url_for('main.home')}}" title="">Home</a></li>
                        <li><a href="{{url_for('namelist.nameli')}}" title="">House</a></li>
                        <li><a href="../chat/chat_page">Chat</a></li>
                        <li><a href="{{url_for('auth.logout')}}" title="">Logout</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
	</section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <article class="row format-gallery">
            <form action="save" method="post">
                <div style="text-align:center; padding-bottom: 40px">
                    <button type="submit" class="submit btn--primary btn--large medium-width">Save</button>
                </div>

                <div class="form-field">
				    <input name="name" type="text" id="name" class="full-width" placeholder="Course Name" value="{{ module.name }}">
                </div>

                <div class="message form-field">
                    <textarea name="description" id="description" class="full-width" placeholder="Course Information" value="{{ module.description }}">{{ module.description }}</textarea>
                </div>
            </form>


                
            </div> <!-- end s-content__main -->

        </article>

        <!-- comments
        ================================================== -->
{#        <div class="comments-wrap">#}
{##}
{#            <div id="comments" class="row">#}
{#                <div class="col-full">#}
{##}
{#                    <h3 class="h2">1 Comments</h3>#}
{#					<div style="font-size:24px" class="rating">#}
{#						<span  class="fa fa-star checked"></span>#}
{#						<span class="fa fa-star checked"></span>#}
{#						<span class="fa fa-star checked"></span>#}
{#						<span class="fa fa-star checked"></span>#}
{#						<span class="fa fa-star"></span>#}
{#						4#}
{#					</div>#}
{##}
{#                    <!-- commentlist -->#}
{#                    <ol class="commentlist">#}
{##}
{#                        #}
{#                        <li class="depth-1 comment">#}
{##}
{#                            <div class="comment__avatar">#}
{#                                <img width="50" height="50" class="avatar" src="../../static/home/images/avatars/user-02.jpg" alt="">#}
{#                            </div>#}
{##}
{#                            <div class="comment__content">#}
{##}
{#                                <div class="comment__info">#}
{#                                <cite>Shikamaru Nara</cite>#}
{#                                <div class="comment__meta">#}
{#                                    <time class="comment-time">Dec 16, 2017 @ 25:15</time>#}
{#                                </div>#}
{#                                </div>#}
{#								<div class="rating">#}
{#									<span class="fa fa-star checked"></span>#}
{#									<span class="fa fa-star checked"></span>#}
{#									<span class="fa fa-star checked"></span>#}
{#									<span class="fa fa-star checked"></span>#}
{#									<span class="fa fa-star"></span>#}
{#								</div>#}
{#									#}
{#                                <div class="comment__text">#}
{#                                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>#}
{#								<i style="font-size:24px" class="fa">&#xf087;</i>#}
{#								10#}
{#								<i style="font-size:24px" class="fa">&#xf0e5;</i>#}
{#									#}
{#                                </div>#}
{##}
{#                            </div>#}
{#					#}
{##}
{#                        </li>  <!-- end comment level 1 -->#}
{##}
{#                    </ol> <!-- end commentlist -->#}
{##}
{##}
{#                    #}
{##}
{#                </div> <!-- end col-full -->#}
{##}
{#            </div> <!-- end row comments -->#}
{#        </div> <!-- end comments-wrap -->#}

    </section> <!-- s-content -->









    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/home/js/plugins.js"></script>
    <script src="../../static/home/js/main.js"></script>

</body>

</html>