<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Gallery Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/home/css/base.css">
    <link rel="stylesheet" href="../../static/home/css/vendor.css">
    <link rel="stylesheet" href="../../static/home/css/main.css">
	<link rel="stylesheet" href="../../static/home/css/news.css">


    <!-- script
    ================================================== -->
    <script src="../../static/home/js/modernizr.js"></script>
    <script src="../../static/home/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="../../static/home/images/logo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
{#                    <li>#}
{#                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>#}
{#                    </li>#}
                    {% if title == 0 %}
                        <li>
                            <a href="../notification/request_page" class="notification">
                                <span>Notificatoin</span>
                                <span class="badge">{{ notification_num }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li><a href="index.html" title="">Home</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Categories</a>
                            <ul class="sub-menu">
                            <li><a href="category.html">Lifestyle</a></li>
                            <li><a href="category.html">Health</a></li>
                            <li><a href="category.html">Family</a></li>
                            <li><a href="category.html">Management</a></li>
                            <li><a href="category.html">Travel</a></li>
                            <li><a href="category.html">Work</a></li>
                            </ul>
                        </li>
                        <li class="has-children current">
                            <a href="#0" title="">Blog</a>
                            <ul class="sub-menu">
                            <li><a href="single-video.html">Video Post</a></li>
                            <li><a href="single-audio.html">Audio Post</a></li>
                            <li><a href="single-gallery.html">Gallery Post</a></li>
                            <li><a href="single-standard.html">Standard Post</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html" title="">About</a></li>
                        <li><a href="contact.html" title="">Contact</a></li>
                        <li><a href="../chat/chat_page">Chat</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <article class="row format-gallery">
			<div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{ module.name }}
                </h1>
                <ul class="s-content__header-meta">
                    <li class="date">December 16, 2017</li>
                    <li class="cat">
                        In
                        <a href="#0">Lifestyle</a>
                        <a href="#0">Travel</a>
                    </li>
                </ul>
            </div> <!-- end s-content__header -->
			
            <div class="col-full s-content__main">
				<p class="lead">{{ module.description }}</p>
                
                <div class="s-content__author">
                    <img src="../../static/home/images/avatars/{{user.img}}.jpg" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">Module coordinator</a>
                        </h4>
                    
                        <p> {{ user.uname }} </p>

                        <ul class="s-content__author-social">
                           <li><a href="#0">{{ user.email }}</a></li>
                           <li><a href="#0">{{ user.phone }}</a></li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </article>


        <!-- comments
        ================================================== -->
        <div class="comments-wrap">

            <div id="comments" class="row">
                <div class="col-full">

                    <h3 class="h2">{{totalComments}} Comments</h3>
					<div style="font-size:24px" class="rating">
                        {% if avgStar == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        {% else %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% endif %}
						{{ avgStar }}
					</div>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in commentList %}
                            <li class="depth-1 comment">

                                <div class="comment__avatar">
                                    <img width="50" height="50" class="avatar" src="../../static/home/images/avatars/{{ comment.img }}.jpg" alt="">
                                </div>

                                <div class="comment__content">

                                    <div class="comment__info">
                                    <cite>{{ comment.uname }}</cite>

                                    <div class="comment__meta">
                                        <time class="comment-time">{{ comment.date }}</time>
                                    </div>
                                    </div>
                                    {% if comment.star == 1 %}
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    {% elif comment.star == 2 %}
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    {% elif comment.star == 3 %}
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    {% elif comment.star == 4 %}
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    {% elif comment.star == 5 %}
                                        <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                    {% else %}
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    {% endif %}

                                    <div class="comment__text">
                                    <p>{{ comment.content }}</p>
                                    <i style="font-size:24px" class="fa">&#xf087;</i>
                                    10
                                    <i style="font-size:24px" class="fa">&#xf0e5;</i>

                                    </div>

                                </div>


                            </li>  <!-- end comment level 1 -->
                        {% endfor %}
                    </ol> <!-- end commentlist -->


                    <!-- respond
                    ================================================== -->
                    <div class="respond">
                        <script>
                            function star(grade)
                            {
                                var ss = document.getElementById("star")
                                ss.value = grade

                                switch (grade) {
                                    case 1:
                                        document.getElementById("star1").className = "fa fa-star checked";
                                        document.getElementById("star2").className = "fa fa-star";
                                        document.getElementById("star3").className = "fa fa-star";
                                        document.getElementById("star4").className = "fa fa-star";
                                        document.getElementById("star5").className = "fa fa-star";
                                        break;
                                    case 2:
                                        document.getElementById("star1").className = "fa fa-star checked";
                                        document.getElementById("star2").className = "fa fa-star checked";
                                        document.getElementById("star3").className = "fa fa-star";
                                        document.getElementById("star4").className = "fa fa-star";
                                        document.getElementById("star5").className = "fa fa-star";
                                        break;
                                    case 3:
                                        document.getElementById("star1").className = "fa fa-star checked";
                                        document.getElementById("star2").className = "fa fa-star checked";
                                        document.getElementById("star3").className = "fa fa-star checked";
                                        document.getElementById("star4").className = "fa fa-star";
                                        document.getElementById("star5").className = "fa fa-star";
                                        break;
                                    case 4:
                                        document.getElementById("star1").className = "fa fa-star checked";
                                        document.getElementById("star2").className = "fa fa-star checked";
                                        document.getElementById("star3").className = "fa fa-star checked";
                                        document.getElementById("star4").className = "fa fa-star checked";
                                        document.getElementById("star5").className = "fa fa-star";
                                        break;
                                    case 5:
                                        document.getElementById("star1").className = "fa fa-star checked";
                                        document.getElementById("star2").className = "fa fa-star checked";
                                        document.getElementById("star3").className = "fa fa-star checked";
                                        document.getElementById("star4").className = "fa fa-star checked";
                                        document.getElementById("star5").className = "fa fa-star checked";
                                        break;
                                    default:
                                        document.getElementById("star1").className = "fa fa-star";
                                        document.getElementById("star2").className = "fa fa-star";
                                        document.getElementById("star3").className = "fa fa-star";
                                        document.getElementById("star4").className = "fa fa-star";
                                        document.getElementById("star5").className = "fa fa-star";
                                }
                            }
							
							function expandComment() {
								var content = document.getElementById("commentBlock");
								document.getElementById("expandC").classList.toggle("active");
								if (content.style.display === "block") {
								  content.style.display = "none";
								} else {
								  content.style.display = "block";
								}
							}
                        </script>
						
						<button id="expandC" type="button" class="collapsible" onClick="expandComment()">Add Comment</button>
                        
						<div id="commentBlock" class="content">
							<form action="comment" method="post">
								<fieldset>
									<p class="h4">What kind of comment do you want to give?</p>
									<label><input type="radio" name="q1" value="c1">
									  Positive
									</label>
									<label><input type="radio" name="q1" value="c2">
									  Negative
									</label>
									<label><input type="radio" name="q1" value="c3">
									  Suggestions to teachers
									</label>
									<label><input type="radio" name="q1" value="c4">
									  Suggestions to students
									</label>
									<label><input type="radio" name="q1" value="c4">
									  Other
									</label>
									<p class="h4">How many stars do you want to give to this module?</p>
									<div style="font-size:24px" class="rating">
										<span id="star1" class="fa fa-star" onClick="star(1)"></span>
										<span id="star2" class="fa fa-star" onClick="star(2)"></span>
										<span id="star3" class="fa fa-star" onClick="star(3)"></span>
										<span id="star4" class="fa fa-star" onClick="star(4)"></span>
										<span id="star5" class="fa fa-star" onClick="star(5)"></span>
									</div>
									<p class="h4">Put you comment here</p>
									<div class="message form-field">
										<textarea name="comment" id="comment" class="full-width" placeholder="Your Message"></textarea>
										<input type="hidden" id="star" name="star" value="0">
									</div>

									<button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

								</fieldset>
							</form> <!-- end form -->
						</div>
                    </div> <!-- end respond -->
                </div> <!-- end col-full -->
            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->
    </section> <!-- s-content -->

    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Styles</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">January 2018</a></li>
                        <li><a href="#0">December 2017</a></li>
                        <li><a href="#0">November 2017</a></li>
                        <li><a href="#0">October 2017</a></li>
                        <li><a href="#0">September 2017</a></li>
                        <li><a href="#0">August 2017</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                
                            <input type="submit" name="subscribe" value="Send">
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Philosophy 2018</span> 
                        <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/home/js/plugins.js"></script>
    <script src="../../static/home/js/main.js"></script>

</body>

</html>