<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Gallery Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/home/css/base.css">
    <link rel="stylesheet" href="../../static/home/css/vendor.css">
    <link rel="stylesheet" href="../../static/home/css/main.css">
    <link rel="stylesheet" href="../../static/home/css/news.css">

    <!-- script
    ================================================== -->
    <script src="../../static/home/js/modernizr.js"></script>
    <script src="../../static/home/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/home/ut.png" type="image/png">
    <link rel="icon" href="../static/home/ut.png" type="image/png">

</head>

<body id="top">

     <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">
                        <img src="../static/home/images/modulelogo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!-- end header__social -->

                <a href="../notification/request_page" class="student_request">
<!--                          <span class="badge">{{ notification_num }}</span>-->
                </a>



                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="{{url_for('main.home')}}" title="">Home</a></li>
                        <li><a href="{{url_for('namelist.nameli')}}" title="">House</a></li>
                        <li><a href="../chat/chat_page">Chat</a></li>
                        <li><a href="{{url_for('auth.logout')}}" title="">Logout</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
	</section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <article class="row format-gallery">
			<div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                    {{ module.name }}
                </h1>
<!--
                <ul class="s-content__header-meta">
                    <li class="date">December 16, 2017</li>
                    <li class="cat">
                        In
                        <a href="#0">Lifestyle</a>
                        <a href="#0">Travel</a>
                    </li>
                </ul>
-->
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">
				<p class="lead">{{ module.description }}</p>

                <div class="s-content__author">
                    <img src="../../static/home/images/avatars/{{coordinator.img}}.jpg" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name">
                            <a href="#0">Module coordinator</a>
                        </h4>

                        <p> {{ coordinator.uname }} </p>

                        <ul class="s-content__author-social">
                           <li><a href="#0">{{ coordinator.email }}</a></li>
                           <li><a href="#0">{{ coordinator.phone }}</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            {% if not_add %}
                    <a class="btn btn--stroke full-width" style="margin-bottom: 0rem" href="{{url_for('main.add_module_student', moduleId=module.id)}}">ADD THIS MODULE</a>
            {% endif %}
        </article>


        <!-- comments
        ================================================== -->
        <div class="comments-wrap" style="margin-top: 10.2rem; padding: 8.4rem 0 9rem">

            <div id="comments" class="row">
                <div class="col-full">

                    <h3 class="h2" style="text-align: inherit">{{totalComments}} Comments</h3>
                    <div style="font-size:24px" class="rating">
                        {% if avgStar > 0 and avgStar <= 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar > 1 and avgStar <= 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar > 2 and avgStar <= 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar > 3 and avgStar <= 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        {% elif avgStar > 4 and avgStar <= 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        {% else %}
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        {% endif %}
                        &nbsp
                        <span>{{ avgStar }}</span>
                    </div>

                    
						<div class="table-responsive">
						
                        <table style='white-space: nowrap'>
                            <tbody>
                                {% for q in questionnaire %}
                                <tr>
                                    <td>
                                        <span style="text-transform: capitalize">{{ q.abbr }}</span>
                                    </td>
                                    <td>
                                        <div style="font-size:24px" class="rating">
                                            {% if q.avg_star > 0 and q.avg_star <= 1 %}
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            {% elif q.avg_star > 1 and q.avg_star <= 2 %}
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            {% elif q.avg_star > 2and q.avg_star <= 3 %}
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            {% elif q.avg_star > 3 and q.avg_star <= 4 %}
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            {% elif q.avg_star > 4 and q.avg_star <= 5 %}
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            {% else %}
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td><span>{{ q.avg_star }}</span></td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
					</div>
                     


                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in commentList %}
                            <li class="depth-1 comment">

                                <div class="comment__avatar">
                                    <img width="50" height="50" class="avatar" src="../../static/home/images/avatars/{{ comment.img }}.jpg" alt="">
                                </div>

                                <div class="comment__content">

                                    <div class="comment__info">
                                    <cite>{{ comment.uname }}</cite>

                                    <div class="comment__meta">
                                        <time class="comment-time">{{ comment.date }}</time>
                                    </div>
                                    </div>
                                    <div class="rating">
                                        {% if comment.star > 0 and comment.star <= 1 %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comment.star > 1 and comment.star <= 2 %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comment.star > 2 and comment.star <= 3 %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comment.star > 3 and comment.star <= 4 %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        {% elif comment.star > 4 and comment.star <= 5 %}
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        {% else %}
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        {% endif %}
                                        &nbsp
                                        <span>{{ comment.star }}</span>
                                    </div>
                                    <div class="comment__text">
                                    <p>{{ comment.content }}</p>
{#                                    <i style="font-size:24px" class="fa">&#xf087;</i>#}
{#                                    10#}
{#                                    <i style="font-size:24px" class="fa">&#xf0e5;</i>#}

                                    </div>

                                </div>


                            </li>  <!-- end comment level 1 -->
                        {% endfor %}
                    </ol> <!-- end commentlist -->


                    <!-- respond
                    ================================================== -->
                    <div class="respond">
                        <script>
                            function star(qid, grade)
                            {
                                var star_dict_json = document.getElementById("star").value;
                                var star_dict = JSON.parse(star_dict_json);
                                star_dict[qid] = grade;
                                document.getElementById("star").value = JSON.stringify(star_dict);

                                switch (grade) {
                                    case 1:
                                        document.getElementById(qid+"_star1").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star2").className = "fa fa-star";
                                        document.getElementById(qid+"_star3").className = "fa fa-star";
                                        document.getElementById(qid+"_star4").className = "fa fa-star";
                                        document.getElementById(qid+"_star5").className = "fa fa-star";
                                        break;
                                    case 2:
                                        document.getElementById(qid+"_star1").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star2").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star3").className = "fa fa-star";
                                        document.getElementById(qid+"_star4").className = "fa fa-star";
                                        document.getElementById(qid+"_star5").className = "fa fa-star";
                                        break;
                                    case 3:
                                        document.getElementById(qid+"_star1").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star2").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star3").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star4").className = "fa fa-star";
                                        document.getElementById(qid+"_star5").className = "fa fa-star";
                                        break;
                                    case 4:
                                        document.getElementById(qid+"_star1").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star2").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star3").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star4").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star5").className = "fa fa-star";
                                        break;
                                    case 5:
                                        document.getElementById(qid+"_star1").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star2").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star3").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star4").className = "fa fa-star checked";
                                        document.getElementById(qid+"_star5").className = "fa fa-star checked";
                                        break;
                                    default:
                                        document.getElementById(qid+"_star1").className = "fa fa-star";
                                        document.getElementById(qid+"_star2").className = "fa fa-star";
                                        document.getElementById(qid+"_star3").className = "fa fa-star";
                                        document.getElementById(qid+"_star4").className = "fa fa-star";
                                        document.getElementById(qid+"_star5").className = "fa fa-star";
                                }
                            }

							function expandComment() {
								var content = document.getElementById("commentBlock");
								document.getElementById("expandC").classList.toggle("active");
								if (content.style.display === "block") {
								  content.style.display = "none";
								} else {
								  content.style.display = "block";
								}
							}
                        </script>
                    {% if not not_add %}
                    {% if can_comment %}
                        <button id="expandC" type="button" class="collapsible" onClick="expandComment()">Add Comment</button>

						<div id="commentBlock" class="content">
							<form action="comment" method="post">
								<fieldset>
									<p class="h3">Before you add your comment, please fill in this questionnaire to help us improve our education.</p>


                                    {% for question in questionnaire %}
                                        <p class="h4">{{ question.question }}</p>

                                        <div style="font-size:24px" class="rating">
                                            &nbsp;
                                            <span id="{{ question.id }}_star1" class="fa fa-star" onClick="star({{ question.id }},1)"></span>
                                            <span id="{{ question.id }}_star2" class="fa fa-star" onClick="star({{ question.id }},2)"></span>
                                            <span id="{{ question.id }}_star3" class="fa fa-star" onClick="star({{ question.id }},3)"></span>
                                            <span id="{{ question.id }}_star4" class="fa fa-star" onClick="star({{ question.id }},4)"></span>
                                            <span id="{{ question.id }}_star5" class="fa fa-star" onClick="star({{ question.id }},5)"></span>
                                        </div>
                                    {% endfor %}

									<p class="h4">Put you comment here</p>
									<div class="message form-field">
										<textarea name="comment" id="comment" class="full-width" placeholder="Your Message"></textarea>
										<input type="hidden" id="star" name="star" value="{{ star_dict }}">
									</div>

									<button type="submit" class="submit btn--primary btn--large full-width">Submit</button>

								</fieldset>
							</form> <!-- end form -->
						</div>
                    {% endif %}
                    {% endif %}
                    </div> <!-- end respond -->
                </div> <!-- end col-full -->
            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->
    </section> <!-- s-content -->



    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/home/js/plugins.js"></script>
    <script src="../../static/home/js/main.js"></script>

</body>

</html>