<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Gallery Post Format - Philosophy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../static/home/css/base.css">
    <link rel="stylesheet" href="../../static/home/css/vendor.css">
    <link rel="stylesheet" href="../../static/home/css/main.css">
    <link rel="stylesheet" href="../../static/home/css/news.css">

    <!-- script
    ================================================== -->
    <script src="../../static/home/js/modernizr.js"></script>
    <script src="../../static/home/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/home/ut.png" type="image/png">
    <link rel="icon" href="../static/home/ut.png" type="image/png">

</head>

<body id="top">

     <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="{{url_for('main.home')}}">
                        <img src="../static/home/images/modulelogo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
                <!-- end header__social -->

				{% if title == 2 %}
                    <a href="../notification/request_page" class="header__search-trigger">
<!--                          <span class="badge">{{ notification_num }}</span>-->
                    </a>
                {% endif %}



                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li><a href="{{url_for('main.home')}}" title="">Home</a></li>
                        <li  class="current"><a href="{{url_for('namelist.nameli')}}" title="">House</a></li>
                        <li><a href="{{url_for('auth.logout')}}" title="">Logout</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->
	</section> <!-- end s-pageheader -->

<body id="top">

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="../../static/home/images/logo.svg" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="index.html" title="">Home</a></li>
                        <li><a href="style-guide.html" title="">Styles</a></li>
                        <li><a href="about.html" title="">About</a></li>
                        <li><a href="contact.html" title="">Contact</a></li>
                        <li class="has-children">
                            <a href="#0" title="">Filter</a>
                            <ul class="sub-menu">
                            <li><a href="request_page">All</a></li>
                            <li><a href="request_page?filter=1">Accepted</a></li>
                            <li><a href="request_page?filter=-1">Rejected</a></li>
                            <li><a href="request_page?filter=0">Unsolved</a></li>
                            </ul>
                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->


        <div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                    <div class="featured__column featured__column--big">
                        <div class="entry" style="background-image:url('images/thumbs/featured/featured-guitarman.jpg');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Music</a></span>

                                <h1><a href="#0" title="">What Your Music Preference Says About You and Your Personality.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../../static/home/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 29, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('images/thumbs/featured/featured-watch.jpg');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">Management</a></span>

                                <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../../static/home/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 27, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('images/thumbs/featured/featured-beetle.jpg');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="#0">LifeStyle</a></span>

                                <h1><a href="#0" title="">Throwback To The Good Old Days.</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="../../static/home/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">John Doe</a></li>
                                        <li>December 21, 2017</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->

    </section> <!-- end s-pageheader -->

    <div class="comments-wrap">
        <div id="comments" class="row">
            <div class="col-full">
                <!-- commentlist -->
                <ol class="commentlist">
                    <table style='white-space: nowrap'>
                        <li class="depth-1 comment">
                            <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Email</th>
{#                                  <th>To</th>#}
{#                                  <th>Sent date</th>#}
{#                                  <th>Confirmed date</th>#}
{#                                  <th></th>#}
                                </tr>
                            </thead>
                        </li>
                        {% for request in request_owner_list %}
                            <tbody>
                                <tr>
                                    <td>{{ loop.index + pagination.skip }}</td>
                                    <td>{{ request.uname }}</td>
{#                                    <td><span style="color:{{request.house_from_name}};text-transform:capitalize;">{{ request.house_from_name }} House</span></td>#}
{#                                    <td><span id="targetHouse" style="color:{{request.house_to_name}};text-transform:capitalize;">{{request.house_to_name}} House</span></td>#}
                                    <td>{{ request.email }}</td>
{#                                    <td>{{ request.confirmed_date }}</td>#}
{#                                    <td>#}
{#                                        {% if request.status == 0 %}#}
{#                                            <div>#}
{#                                            <a class="accept_button" href="accept_request?request_id={{ request.id }}">Accept</a>#}
{#                                            <a class="reject_button" href="reject_request?request_id={{ request.id }}">Reject</a>#}
{#                                            </div>#}
{#                                        {% elif request.status == 1 %}#}
{#                                            <a class="solved_button" href="#" onclick="return false;">ACCEPTED</a>#}
{#                                        {% elif request.status == -1 %}#}
{#                                            <a class="solved_button" href="#" onclick="return false;">REJECTED</a>#}
{#                                        {% endif %}#}
{#                                    </td>#}
                                </tr>
{#                                {% if request.reason is not none %}#}
{#                                    <tr>#}
{#                                        <td></td>#}
{#                                        <td>#}
{#                                            <div class="comment__text">#}
{#                                                <p><span style="font-weight: bold">REASON: </span> {{ request.reason }}</p>#}
{#                                            </div>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% endif %}#}
                            </tbody>
                        {% endfor %}
                    </table>
                </ol> <!-- end commentlist -->
            </div>
        </div>

        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                        {{ pagination.links }}
{#                    <div>#}
{#                        <ul>#}
{#                            <li><a class="pgn__prev" href="#0">Prev</a></li>#}
{#                            <li><a class="pgn__num" href="#0">1</a></li>#}
{#                            <li><span class="pgn__num current">2</span></li>#}
{#                            <li><a class="pgn__num" href="#0">3</a></li>#}
{#                            <li><a class="pgn__num" href="#0">4</a></li>#}
{#                            <li><a class="pgn__num" href="#0">5</a></li>#}
{#                            <li><span class="pgn__num dots">…</span></li>#}
{#                            <li><a class="pgn__num" href="#0">8</a></li>#}
{#                            <li><a class="pgn__next" href="#0">Next</a></li>#}
{#                         </ul>#}
{#                    </div>#}
                </nav>
            </div>
        </div>
    </div>




    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/home/js/plugins.js"></script>
    <script src="../../static/home/js/main.js"></script>

</body>

</html>