<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>

        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Gallery Post Format - Philosophy</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="../../static/home/css/base.css">
        <link rel="stylesheet" href="../../static/home/css/vendor.css">
        <link rel="stylesheet" href="../../static/home/css/main.css">
        <link rel="stylesheet" href="../../static/home/css/news.css">
        <link rel="stylesheet" href="../../static/css/chat.css">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">


        <!-- script
        ================================================== -->
        <script src="../../static/home/js/modernizr.js"></script>
        <script src="../../static/home/js/pace.min.js"></script>

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

    </head>

    <body id="top">

        <!-- pageheader
        ================================================== -->
        <div class="s-pageheader">

            <header class="header">
                <div class="header__content row">

                    <div class="header__logo">
                        <a class="logo" href="index.html">
                            <img src="../../static/home/images/logo.svg" alt="Homepage">
                        </a>
                    </div> <!-- end header__logo -->

                    <ul class="header__social">
                        {% if title == 0 %}
                            <li>
                                <a href="../notification/request_page" class="notification">
                                    <span>Notificatoin</span>
                                    <span class="badge">{{ notification_num }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul> <!-- end header__social -->

                    <a class="header__search-trigger" href="#0"></a>

                    <div class="header__search">

                        <form role="search" method="get" class="header__search-form" action="#">
                            <label>
                                <span class="hide-content">Search for:</span>
                                <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>

                        <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                    </div>  <!-- end header__search -->


                    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                    <nav class="header__nav-wrap">

                        <h2 class="header__nav-heading h6">Site Navigation</h2>

                        <ul class="header__nav">
                            <li><a href="index.html" title="">Home</a></li>
                            <li class="has-children">
                                <a href="#0" title="">Categories</a>
                                <ul class="sub-menu">
                                <li><a href="category.html">Lifestyle</a></li>
                                <li><a href="category.html">Health</a></li>
                                <li><a href="category.html">Family</a></li>
                                <li><a href="category.html">Management</a></li>
                                <li><a href="category.html">Travel</a></li>
                                <li><a href="category.html">Work</a></li>
                                </ul>
                            </li>
                            <li class="has-children current">
                                <a href="#0" title="">Blog</a>
                                <ul class="sub-menu">
                                <li><a href="single-video.html">Video Post</a></li>
                                <li><a href="single-audio.html">Audio Post</a></li>
                                <li><a href="single-gallery.html">Gallery Post</a></li>
                                <li><a href="single-standard.html">Standard Post</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html" title="">About</a></li>
                            <li><a href="contact.html" title="">Contact</a></li>
                        </ul> <!-- end header__nav -->

                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                    </nav> <!-- end header__nav-wrap -->

                </div> <!-- header-content -->
            </header> <!-- header -->

        </div> <!-- end s-pageheader -->
        <!-- s-content
        ================================================== -->
        <section class="s-content s-content--narrow s-content--no-padding-bottom">
            <div id="demo-chat-body" class="collapse in">
                <div class="nano has-scrollbar" style="height:380px">
                    <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                        <ul  id="messages" class="list-unstyled media-block">

                        </ul>
                    </div>
                    <div class="nano-pane">
                        <div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div>
                    </div>
                </div>

                <!--Widget footer-->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-9">
                            <input id="myMessage" type="text" placeholder="Enter your text" class="form-control chat-input">
                        </div>
                        <div class="col-xs-3">
                            <button id="sendbutton" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- s-content -->



        <!-- Java Script
        ================================================== -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="../../static/home/js/jquery-3.2.1.min.js"></script>
        <script src="../../static/home/js/plugins.js"></script>
        <script src="../../static/home/js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var socket = io.connect('{{ config.value }}');

                socket.on('connect', function () {
                    socket.send(msg_josn('Connected successed!'));
                });

                socket.on('message', function (msg) {
                    var msg_json = JSON.parse(msg);
                    var content = msg_json.content;
                    var ip = msg_json.ip;

                    if (msg_json.house_id != '{{ user.house_id }}'){
                        return;
                    }

                    if (ip == '{{ config.ip }}'){
                        var ele = ['<li class="mar-btm">',
                                '<div class="media-right">',
                                    '<img src="../../static/home/images/avatars/{{ user.img }}.jpg" class="img-circle img-sm" alt="Profile Picture">',
                                '</div>',
                                '<div class="media-body pad-hor speech-right">',
                                    '<div class="speech">',
                                        '<a href="#" class="media-heading">' + msg_json.uname + '</a>',
                                        '<p>' + content + '</p>',
                                        '<p class="speech-time">',
                                            '<i class="fa fa-clock-o fa-fw"></i> ' + msg_json.date,
                                        '</p>',
                                    '</div>',
                                '</div>',
                            '</li>'].join('');

                        $("#messages").append(ele);
                    } else {
                        var ele = ['<li class="mar-btm">',
                            '<div class="media-left">',
                                '<img src="../../static/home/images/avatars/{{ user.img }}.jpg" class="img-circle img-sm" alt="Profile Picture">',
                            '</div>',
                            '<div class="media-body pad-hor">',
                                '<div class="speech">',
                                    '<a href="#" class="media-heading">' + msg_json.uname + '</a>',
                                    '<p>' + content +'</p>',
                                    '<p class="speech-time">',
                                    '<i class="fa fa-clock-o fa-fw"></i> ' + msg_json.date,
                                    '</p>',
                                '</div>',
                            '</div>',
                        '</li>'].join('');

                        $("#messages").append(ele);
                    }
                });

                $('#sendbutton').on('click', function () {
                    msg = msg_josn($('#myMessage').val());
                    socket.send(msg);
                    $('#myMessage').val('');
                })
            });

            function msg_josn(msg) {
                var msg_obj = {
                    content:msg,
                    ip:'{{ config.ip }}',
                    uname:'{{ user.uname }}',
                    img:'{{ user.img }}',
                    house_id:'{{ user.house_id }}',
                    date:(new Date()).toLocaleDateString("en-GB")
                };

                return JSON.stringify(msg_obj);
            }
        </script>
    </body>
</html>